{% extends 'students/base.html' %}
{% block content %}
<h3>All Students</h3>
<table class="table table-bordered">
    <thead><tr><th>Name</th><th>Email</th><th>Class</th><th>Age</th><th>Actions</th></tr></thead>
    <tbody>
        {% for s in students %}
        <tr>
            <td>{{ s.name }}</td>
            <td>{{ s.email }}</td>
            <td>{{ s.student_class }}</td>
            <td>{{ s.age }}</td>
            <td>
                <a href="{% url 'student_profile' s.id %}" class="btn btn-sm btn-warning">View</a>
                <a href="{% url 'update_student' s.id %}" class="btn btn-sm btn-info">Edit</a>
                <a href="{% url 'remove_student' s.id %}" class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
